@use 'reset';
@use 'headband';
@use 'cookie-consent';
@use 'layout';

:root {
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}
