<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ 'error.generic'|trans }}</title>
</head>
<body>
    <h1>{{ 'error.generic'|trans }}</h1>
</body>
</html>
